/*body{
    background-color: hsla(0, 10%, 82%, 0.31);
}

.header{   
     background-color: coral;
  
}

.logo{
    display: inline-block;
    margin-right: 700px;
    font-size: 2rem;
    font-weight: bold;
    font-family:monospace ;
    margin-left: 30px;

}

.hdkeys{    
    cursor: pointer;  
    font-size: 20px;
    font-weight: bold;
    font-family:monospace ;
    margin-right: 50px;
  
}

.hdkeys:hover{
    color: yellow;
}

.btn{
    border: none;
    background-color: coral;
    font-size: 20px;
    font-weight: bold;
    font-family:monospace ;
    margin-left:50px;
   

}

.btn:hover{
    color: yellow;
}

.container{
   
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 30px;
    margin-bottom: 160px;
    margin-top: 100px;
    place-items: center;
    
}


.Cards{
   
margin-left: 30px;
    border-radius: 12px;
    border: solid;
    width: 280px;
    height: 250px;  
    overflow: hidden;
    text-align: center;
    transition: 0.5s ease;
    
    

}
.Cards p{
    margin-top: 10px;
    font-size: 24px;
    font-family: monospace;
    font-weight: bold;
}


.Cards img{
      width: 280px;
      height: 140px;   

}

.Cards:hover{
    transform: scale(1.09);
   
    
}


.footer{
    background-color: grey;
    padding: 10px;
    
}

.footer p{
    font-size: 20px;
    margin-top: 5px;

}

.darkmode{
    transition: 0.5s ease;
}


body.darkmode{
    background-color: hsl(0, 5%, 65%);
    
}

body.darkmode .header{
    background-color: hsl(287, 63%, 49%);


}
body.darkmode .header .btn{
     background-color: hsl(287, 63%, 49%);

}

body.darkmode .Cards{
    background-color: hsl(0, 1%, 16%);
    color: white;
    border-color: black;
}

body.darkmode .footer{
    background-color: hsl(287, 63%, 49%);

}

body.darkmode .header .hdkeys{
    color: white;
}

body.darkmode .header .btn{
    color: white;
}

body.darkmode .header .btn:hover{
    color: hsl(0, 0%, 0%);
}
body.darkmode .header .hdkeys:hover{
    color: hsl(0, 0%, 0%);
}
*/

@media (max-width: 768px) {
    *{
        margin:0 0px;
        padding:0px;
    }

        .header{
          display: block;
           align-items: center;
            
            padding: 10px;
            
            
        }

.logo{
   display: inline-block;
    margin-right: 80px;
    
    margin-left: 10px;
    font-size: 16px;
}

.hdkeys{
    font-size: 16px ;
    margin-right: 20px;
}
.btn{
   border: none;
   background-color: white;
  
}

.container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 100px;
    margin-bottom: 200px;
    gap: 5px;
    
    

}
.Cards{
     
   
    display: block;

}
.Cards img{
    
    display: inline-block;
    object-fit: cover;
    height: 100%;
    width: auto;
    


}
#name{
    display: block;
    
}

#price{
    display: block;
}

}
